body{
	font: 20px Arial, sans-serif;
}

.img-main{
	margin: 3px;
}

img{
	margin:20px; 
}

.navbar{
	background-color: #04B431;
}

.quem-somos{
	background-color: #5882FA;
	color: white;
}

.margin{
	padding-bottom: 30px;
	padding-top: 30px;
}

.parceiros{
	background-color: #DF3A01;

}
.bg-footer{
	background-color: #2E2E2E;
	color: white;
	font-family: sans-serif; 
	font-size: 12px;
	padding-top: 10px; /* margin da uma margem branca paddinh pinta da mesma cor a margem*/
	padding-bottom: 1px;
	}




